.breadcrumb {
	display: flex;
}

.breadcrumb_cate {
	display: flex;
	align-items: center;
	margin-right: 15px;
}

.breadcrumb_home {
	display: flex;
	align-items: center;
	height: 36px;
	position: relative;
	padding: 0 20px;
	transition: .3s ease;
	background-color: #fff;
}

.this_breadcrumb {
	color: #161616;
	font-size: 13px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	text-align: left;
}

.breadcrumb_home a {
	color: #f2761c;
}


.breadcrumb_page {
	background-color: rgb(213, 213, 213);
}

._4q7jo {
	display: flex;
	align-items: center;
	height: 36px;
	position: relative;
	padding: 0 20px;
	transition: .3s ease;
}

.breadcrumb_page .this_breadcrumb {
	color: rgb(22, 22, 22);
}

.breadcrumb_after,
.breadcrumb_after:after {
	position: absolute;
	transition: .3s ease;
}

.breadcrumb_after {
	height: 36px;
	/* background-color: #d5d5d5; */
	width: 2px;
	right: -10px;
	top: 0px;
}

.breadcrumb_after.breadcrumb_after_home:before {
	border-left-color: #fff;
}

.breadcrumb_after:before {
	content: "";
	position: absolute;
	top: -1px;
	width: 10px;
	height: 1px;
	z-index: 3;
	right: -9px;
	border-left: 10px solid #d5d5d5;
	border-top: 18px solid transparent;
	border-bottom: 18px solid transparent;
	transition: .3s ease;
}

.breadcrumb_after:after {
	content: "";
	top: 0px;
	width: 12px;
	height: 1px;
	z-index: 2;
	right: -10px;
	/* border-left: 10px solid #d5d5d5; */
	border-top: 18px solid transparent;
	border-bottom: 18px solid transparent;
}

/* // */
.homeContent {
	position: relative;
	padding: 20px;
}

.main_content {
	background: #f7f7f7;
	padding-top: 60px;
	position: relative;
	z-index: 0;
}

strong {
	font-weight: unset !important;
}

.container_widget {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 20px;
}

.right_home {
	width: calc(100% - 344px);
}

.sapo_blod span {
	display: inline;
}

.des_post,
.des_post p,
.des_post span {
	color: #000000 !important;
	font-size: 15px !important;
	line-height: 21px !important;
	margin-top: 0 !important;
	text-align: left !important;
	font-weight: unset !important;
	display: inline;
}

.this_content_right {
	border-bottom: 1px solid #ddd;
	backdrop-filter: blur(5px);
	background-color: rgb(255, 255, 255);
	padding: 14px 12px 12px;
	border-radius: 12px;
	margin-bottom: 16px;
}

.title_blog {
	text-align: left;
	color: #454545;
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	transition: 0.5s;
}

.title_blog:hover {
	color: #008037;
}

.blog_2 {
	display: flex;
	gap: 15px;
	margin-top: 15px;
}

.blog_2 img {
	height: 166px;
}

.blog_2 .link_fl {
	display: block;
}

.blog_2 .box_content_blog {
	display: inline-table;
	width: -webkit-fill-available;
	padding: 0 10px;
	position: absolute;
	bottom: 6px;
	left: 0;
	z-index: 1;
}

.blog_2 .title_blog {
	font-size: 14px;
	line-height: 1.36;
	color: #fff;
	font-weight: 700;
	margin-bottom: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

.only_mobile {
	display: none !important;
}

.date_post {
	font-size: 12px;
	font-weight: 500;
	color: #000000;
}

.dot_item {
	position: relative;
	display: inline-block;
}

.dot_item::before {
	content: "";
	background-color: #868686;
	height: 3px;
	width: 3px;
	border-radius: 50%;
	position: absolute;
	top: 9px;
	right: 6px;
}

.cate_post {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	color: #000000;
	padding-right: 15px;
	transition: 0.5s;
}

.this_content_right img {
	position: relative;
	width: 33.8%;
	float: left;
	border-radius: 5px;
}

.box_content_blog {
	width: calc(100% - 270px);
	float: left;
	padding-left: 20px;
}

.des_post {
	font-size: 14px;
	line-height: 17px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	margin-top: auto !important;
}

/* ----  */
.load_more {
	max-width: 170px;
	position: relative;
	background: #008037;
	padding: 1px;
	border-radius: 35px;
	margin: 20px auto;
}

.btn_see_more {
	background: #fff;
	padding: 6px 15px 7px 10px;
	border-radius: 35px;
	color: #333;
	display: block;
	width: 100%;
	border: none;
	cursor: pointer;
	position: relative;
}

.btn_see_more span {
	color: #533c94;
	font-weight: 500;
	font-size: 14px;
}

.icon_arrow_down {
	position: absolute;
	background-image: url(/images/icons/arrow-down.png);
	width: 9px;
	height: 5px;
	right: 12px;
	top: 16px;
	background-repeat: no-repeat;
}

.linl_all_detail {
	position: relative;
	background: unset;
}

.border_blog {
	padding-bottom: 30px;
	border-bottom: 3px dotted #afa9a9;
}

.link_fl {
	display: flex;
	align-items: flex-start;
}

.fl_date {
	margin: 10px 0 10px 0;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.box_content_blog {
	width: -webkit-fill-available;
}

.sidebar_content {
	width: 324px;
}

@media only screen and (max-width: 1280px) {
	.homeContent {
		padding: 20px 70px;
	}
}

@media only screen and (max-width: 1024px) {

	.homeContent {
		padding: 0 20px;
	}

	.des_post {
		-webkit-line-clamp: 2;
	}

	.blog_2 .box_content_blog {
		margin: 0;
		width: auto;
	}

	.box_content_blog {
		padding: 0;
		margin-left: 10px;
	}

	.main_content {
		padding-top: 70px;
	}

}

@media only screen and (max-width: 768px) {
	.right_home {
		width: 72%;
		padding: 0;
	}

	.title_blog {
		font-size: 15px;
		line-height: 20px;
	}

	.fl_date {
		margin: 5px 0;
	}

	.this_content_right img {
		width: 39%;
	}
}

@media only screen and (max-width: 540px) {
	.container_widget {
		flex-direction: column;
		margin-top: 20px;
		padding: 0 10px;
	}

	.homeContent {
		padding: 0;
	}

	.right_home {
		margin-top: 0;
		width: 100%;
	}

	.linl_all_detail {
		flex-direction: column;
	}

	.box_content_blog .title_blog {
		display: none;
	}

	.only_mobile {
		display: block !important;
	}

	.link_fl {
		flex-direction: row;
		gap: unset;
		padding: 0;
	}

	.box_content_blog {
		padding-left: 15px;
		display: flex;
		flex-direction: column;
	}

	.des_post {
		text-align: left;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		overflow: hidden;
		font-size: 13px;
		line-height: 18px;
		font-family: 'Arial', sans-serif;
		margin: 0;
	}

	.dot_item::before {
		content: "";
		background-color: #868686;
		height: 3px;
		width: 3px;
		border-radius: 50%;
		position: absolute;
		top: 9px;
		right: 6px;
	}

	.this_content_right img {
		min-height: 113px;
		width: 50%;
	}

	.fl_date.only_mobile {
		display: flex !important;
	}

	.title_blog.only_mobile {
		font-size: 21px;
		font-weight: bold;
		line-height: 26px;
		color: #333;
		display: -webkit-box !important;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
		margin-bottom: 15px;
	}
}