.content {
	padding-top: 0px;
	background: #f0f0f0;
}
.breadcrumb {
   padding: 5px 0;
}

.menu_scroll a {
   color: #262626;
   text-transform: uppercase;
   font-size: 12px;
}
.menu_scroll img {
   width: 8px;
   transform: rotate(-90deg);
}
.menu_scroll .a_color {
   color: #F7941E;
}
.content_about {
	display: flex;
	justify-content: space-between;
   margin: auto;
}
/* left content  */
.left_content {
	width: calc(25% - 35px);
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
	padding: 20px 10px;
}
.left_content_mobile {
   display: none;
}
.title_left_content {
	text-transform: uppercase;
    line-height: 100%;
    padding: 10px 0;
    text-align: left;
    font-weight: 600;
    margin-bottom: 0px;
    font-size: 13px;
}
.all_cate {
	border-bottom: 2px solid #f6f6f6;
	padding: 10px 0;
}
.all_cate, .list_cate {
	display: flex;
	flex-direction: column;
}
.text_item_child {
	color: #666;
    padding: 0;
    display: inline;
	font-size: 14px;
	text-transform: capitalize;
    line-height: 22px;
    margin: 0 0 7px 10px;
    text-align: left;
    width: 100%;
	transition: 0.3s;
}
.text_item_child:hover {
	color: #bf9a61;
}
.see_more_left {
	color: #F7941E;
    font-weight: bold;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    user-select: none;
    padding-right: 20px;
	width: max-content;
	margin: auto;
}
.item_list_child {
	margin: 0 0 7px 10px;
}

/* right content  */
.right_content {
	width: 75%;
	padding: 15px 0;
	background: #fff;
}
.img_sale {
	display: flex;
}
.img_sale a {
	margin-top: 15px;
	padding: 0 15px;
}
.filter {
	display: flex;
	padding: 15px 0 15px 20px;
	align-items: center;
}
.filter p {
	font-size: 14px;
    color: black;
}
.selling, .quantity {
	margin: 0 20px;
}
select {
	font-size: 12px;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-bottom-left-radius: 5px;
    line-height: 40px;
    color: #444;
}

/* product  */
.product {
	display: grid;
    grid-template-columns: repeat(4, 1fr);
	grid-gap: 8px;
}
.item_inner {
    position:relative;
    padding: 15px;
 }
 .discount {
    background-color: #F7941E;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 15px;
    top: 27px;
    z-index: 1;
 }
 .discount span {
    color: #fff;
    font-size: 17px;
    font-weight: bold;
 }
 .content_item_inner {
    text-align: center;
    display: flex;
    flex-direction: column;
 }
 .image_product {
    max-width: 190px;
 }
 .name_product {
    padding-top: 0px !important;
    line-height: 1.4em;
    word-break: break-word;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 16px;
    text-align: start;
    color: #333333;
    margin-top: 10px;
 }
 .price {
    text-align: start;
    margin-top: 5px;
 }
 .new_price {
    color: #C92127;
    font-size: 18px;
    font-weight: 600;
 }
 .old_price {
    color: #888888;
    text-decoration: line-through;
    font-size: 14px;
 }
 .rating {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
 }
 .rating img {
    width: 18px;
    height: 18px;
 }
 .rating p {
    color: #F6A500 !important;
    font-size: 16px;
    font-weight: 500;
 }
 .paging {
	display: flex;
<<<<<<< HEAD
	width:max-content;
	margin:auto;
 }
 .paging a {
	text-align: center;
	padding: 0;
    display: inline-block;
    border: none;
    border-radius: 5px;
    line-height: 40px;
    color: black;
    cursor: pointer;
    user-select: none;
    height: 40px;
	width: 40px;
	margin: 0 2px;
	transition: 0.3s;
 }
 .paging a:hover {
	background: #FCDAB0;
	border-radius: 5px;
 }
 .active_page {
	background: #C92127;
	color: #fff !important;
 }

 @media only screen and (max-width: 1024px) {
   .content_about {
      margin-top: 50px;
      padding-top: 60px;
   }

   .product {
      grid-template-columns: repeat(3, 1fr);
   }
 }

 @media only screen and (max-width: 768px) {
   .content_about {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
   }
   .left_content {
      display: none;
   }
   .left_content_mobile {
      display: flex;
      background: #fff;
      margin-bottom: 15px;
      align-items: center;
   }
   .left_content_mobile select {
      border: none;
      text-align: left;
      line-height: 30px;
      clear: both;
      color: #333;
      font-size: 13px;
   }
   .filter_01, .filter_02 {
      width: 19%;
   }
   .filter_03 {
      width: 40%;
      text-align: right;
   }
   .filter_03 p {
      line-height: 30px;
      clear: both;
      color: #333;
      font-size: 13px;
   }
   .filter_04 {
      width: 28%;
      text-align: center;
   }
   .right_content {
      width: 97.7%;
      margin: auto;
   }
   .product {
      grid-template-columns: repeat(2, 1fr);
      gap: 0;
      margin-top: 10px;
      margin-bottom: 10px;
   }
   .product div:first-child {
      border-top: 1px solid #ecebeb;
   }
   .product div:first-child + div {
      border-top: 1px solid #ecebeb;
   }
   .product div:nth-child(odd) {
      border-bottom: 1px solid #ecebeb;
      border-right: 1px solid #ecebeb;
      border-left: none;
   }
   .product div:nth-child(even) {
      border-bottom: 1px solid #ecebeb;
      border-right: none;
      border-left: none;
   }
   .price, .rating {
      border: none !important;
   }
   .image_product {
      margin: auto;
   }
   .filter {
      display: none;
   }
   .paging {
      padding-top: 10px;
   }
 }

 @media only screen and (max-width: 540px) {
   .content_about {
      padding-top: 10px;
   }
   .left_content_mobile {
      margin-bottom: 5px;
   }
   .right_content {
      width: 100%;
   }
   .img_sale {
      gap: 10px;
   }
   .img_sale a {
      padding: 0;
   }
 }
=======
	align-items: flex-start;
	color: unset;
}

.box_right_data {
	width: calc(100% - 270px);
	padding-left: 20px;
}

.list_blog {
	width: 100%;
}

.blog_top:hover .title_blog_top {
	opacity: 0.7;
}

.this_train:hover .title_blog {
	color: #cb0030 !important;
}

.load_more {
	max-width: 170px;
	position: relative;
	background: linear-gradient(90deg, #cc0355 0, #5447a4 0, #ea003a 100%);
	padding: 1px;
	border-radius: 35px;
	margin: 20px auto;
}

.load_more:hover {
	background: #cc0355;
	background: linear-gradient(90deg, #cc0355 0, #ea003a 0, #5447a4 100%);
}

.btn_see_more {
	background: #fff;
	padding: 6px 15px 7px 10px;
	border-radius: 35px;
	color: #333;
	display: block;
	width: 100%;
	border: none;
	cursor: pointer;
	position: relative;
}

.btn_see_more span {
	color: #533c94;
	font-weight: 500;
	font-size: 14px;
}

.icon_arrow_down {
	position: absolute;
	background-image: url(/images/icons/arrow-down.png);
	width: 9px;
	height: 5px;
	right: 12px;
	top: 16px;
	background-repeat: no-repeat;
}

.sidebar_content {
	width: 30.1%;
}

.des_blog b,
.des_blog strong {
	font-weight: unset !important;
}
.sidebar_box {
	margin-bottom: 20px !important;
}
@media only screen and (max-width: 1024px) {
	.content_about {
		margin-top: 20px;
		padding: 20px 15px;
		padding-top: 0;
	}

	.content {
		padding-top: 0;
	}

	.title_blog a {
		font-size: 21px;
		line-height: 26px;
	}
}

@media only screen and (max-width: 768px) {
	.train_content {
		margin-top: 20px;
	}

	.top_blog {
		gap: 0;
		display: flex;
		padding: 0;
		margin: 0;
	}

	.top_left {
		flex-direction: column;
		width: calc(100% - 28%);
		margin-bottom: 10px;
	}

	.left_blog {
		width: 100%;
	}

	.blog_top_right {
		width: 35%;
		height: 250px;
	}

	.title_blog_top {
		padding: 30px 15px 0px 15px;
		overflow: hidden;
		font-size: 15px;
	}

	.blog_top_left {
		width: 65%;
		height: 250px;
	}

	.blog_top img {
		height: 100%;
	}

	.list_blog {
		width: 100%;
	}

	.box_right_data {
		width: -webkit-fill-available;
	}

	.title_blog {
		font-size: 15px;
		line-height: 20px;
		margin: 0;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
	}
}

@media only screen and (max-width: 540px) {

	/* .menu_page .active::after {
        display: none;
    } */
	.sidebar_content {
		display: none !important;
	}

	.menu_page {
		display: flow-root;
	}

	.menu_page::-webkit-scrollbar {
		width: 0 !important;
		display: none;
	}

	.infor_header {
		display: none;
	}

	.train_content {
		flex-direction: column;
		margin-top: 0px;
	}

	.title_blog {
		display: none;
	}

	.only_mobile {
		display: block !important;
		font-size: 21px;
		font-weight: bold;
		line-height: 26px;
		color: #333;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
		margin-bottom: 15px;
	}

	.top_blog {
		flex-direction: column;
		padding: 0;
		margin: 0;
	}

	.top_left {
		width: 100%;
		padding: 0;
	}

	.left_blog {
		width: 100%;
	}

	.title_blog_top:hover {
		color: #000 !important;
	}

	.title_blog_top {
		margin: 10px 0px;
		padding: 0 !important;
		line-height: 32px;
		color: #000 !important;
		font-size: 25px;
	}

	.sapo_blog p,
	.sapo_blog span {
		color: #000 !important;
	}

	.sapo_blog {
		margin-bottom: 10px;
		margin-top: 0;
	}

	.sapo_blog p {
		padding: unset;
	}

	.linl_all_detail {
		display: flex;
		flex-direction: column;
	}

	.blog_top_left {
		width: 100%;
	}

	.blog_top_right {
		width: 100%;
		height: 100%;
		background: none;
	}

	.list_blog {
		width: 100%;
	}

	.this_train a img {
		min-height: 113px;
		width: 50%;
	}

	.box_right_data {
		padding-left: 15px;
		display: flex;
		flex-direction: column;
	}

	.fl_date {
		margin: 5px 0;
	}

	.date_post {
		font-size: 13px;
		line-height: 1.5;
	}

	.des_blog {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 4;
		overflow: hidden;
	}

	.sidebar_content {
		display: none !important;
	}
}

@media only screen and (max-width: 414px) {
	.infor_tablet {
		display: none;
	}
}
>>>>>>> 6d273a316caa1d0730d6d6fdef39740b98d6d957
