.breadcrumb {
    display: flex;
    padding: 5px 0;
    align-items: center;
}
.breadcrumb p {
    font-size: 12px;
    color: #262626;
    text-transform: uppercase;
}
.breadcrumb img {
    width: 7px;
    height: 7px;
    transform: rotate(-90deg);
    padding: 0 5px;
}
.first_box_product {
    display: flex;
}
.left_product {
    display: flex;
    width: 40.6%;
    flex-direction: column;
}
.image_product_detail {
    width: 100%;
    display: flex;
    height: 400px;
}
.thumbnail {
    width: 76px;
    height: 400px;
    margin-right: 8px;
}
.thumbnail a:not(:first-child) {
    margin-top: 5px;
}
.thumbnail img {
    width: 48px;
    height: 76px;
    margin: auto;
}
.slick-list.draggable {
    height: 100% !important;
}
.slick-vertical .slick-slide {
    height: 74px;
    border-radius: 8px;
    transition: 0.5s;
}
.slick-vertical .slick-slide:hover {
    border: 1px solid #2489F4;
}
.slide_thumbnail.slide_for.slick-initialized.slick-slider {
    width: calc(100% - 100px);
    padding: 6px;
}
.slide_thumbnail img {
    width: 300px !important;
}
.product_add_box {
    display: flex;
    margin-top: 25px;
    justify-content: center;
} 
.btn_product_box {
    display: flex;
    align-items: center;
    width: 46%;
    border-radius: 8px;
    justify-content: center;
    padding: 5px 0; 
    cursor: pointer;
}
.btn_add_product {
    color: #C92127;
    background: #fff;
    border: 2px solid #C92127;
}
.product_add_box span {
    font-size: 15px;
    font-weight: 700;
    padding-left: 10px;
}
.btn_buy {
    color: #fff;
    background: #C92127;
    margin-left: 10px;
}
.right_product {
    width: calc(61.6% - 20px);
    z-index: 2;
}
.name_product_detail {
    font-size: 22px;
    font-weight: 600;
    color: #333;
    line-height: 33px;
    overflow-wrap: break-word;
    padding-bottom: 16px;
}
.infor_summary {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
}
.infor_summary p {
    width: 50%;
    text-align: left;
    color: #333333;
    font-size: 13px;
    font-weight: 400;
}
.infor_summary a {
    color: #2489F4;
    font-weight: 600;
    font-size: 13px;
}
.vote_product {
    display: flex;
}
.list_star img {
    width: 15px;
}
.vote_product p {
    color: #F6A500 !important;
    font-size: 13px;
    font-weight: 500;
    padding-left: 5px;
}
.price_product {
    display: flex;
    align-items: center;
    padding: 16px 0;
    justify-content: space-between;
}
.left_price {
    display: flex;
    align-items: center;
}
.price_discount {
    font-size: 32px;
    line-height: 32px;
    color: #C92127;
    font-weight: 700;
}
.price_number {
    margin-left: 8px;
    color: #0D0E0F;
    font-size: 15px;
    font-weight: 300;
    text-decoration: line-through;
}
.discount_number {
    margin-left: 8px;
    padding: 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #C92127;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
}
.img_share {
    background: url(/images/icons/icon_share.png) no-repeat center center;
    background-size: 16px;
    border-radius: 20px;
    box-shadow: 0px 3px 6px #00000029;
    min-height: 40px;
    min-width: 40px;
    -webkit-user-drag: none;
}
.infor_delivery {
    padding-top: 8px;
}
.deli_child {
    display: flex;
    padding-bottom: 8px;
}
.deli_child p {
    color: #333333;
    font-size: 13px;
}
.deli_child a {
    color: #2489F4;
    font-weight: 600;
    font-size: 13px;
    padding-left: 10px;
    white-space: nowrap;
}
.non_mobile {
    width: 150px;
}
.quantity_product {
    display: flex;
    align-items: center;
    padding: 8px 0;
}
.quantity_product p {
    font-size: 16px;
    font-weight: 650;
    padding: 0 8px 0 0;
    margin-bottom: 0;
    text-align: left;
    color: #555;
}
.change_qty {
    justify-content: flex-start;
    border: 1px solid #c1c1c1;
    border-radius: 4px;
    height: 32px;
    display:flex;
    align-items: center;
}
.change_qty input {
    border: none;
    width: 45px;
    color: #0D0E0F;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
}
.change_qty a {
    padding:  0 8px 0 13px;;
}
.change_qty img {
    width: 15px;
}
.product_add_box_mobile {
    display: none;
}



/* sec_box_product  */
.box_product {
    background: #fff;
    border-radius: 8px;
    padding: 15px 19px;
    margin-bottom: 15px;
}

.title_box {
    display: flex;
}
.title_box img {
    width: 32px;
    margin-right: 5px;
}
.title_box p {
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    margin-top: 1px;
}
.select_tabs, .left_tabs_ticket, .right_tabs_ticket {
    display: flex;
}

.select_tabs {
    margin: 10px 0 5px 0;
    justify-content: space-between;
    border-bottom: 1px solid #CDCFD0;
}

.tabs_ticket_child {
    margin-right: 40px;
    cursor: pointer;
    transition: 0.3s;
}
.ticket_active {
    color: #C92127;
    font-weight: bold;
}
.tabs_ticket_child:hover {
    color:#C92127;
    font-weight: bold;
}
.tabs_ticket_child hr {
    display: none;
}
hr {
    transition: 0.5s;
}
.ticket_active hr {
    background-color: #C92127;
    border: 1px solid #C92127 !important;
    display: block !important;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    width: 100%;
    margin-top: 5px;
}
.right_tabs_ticket {
    align-items: center;
}
.right_tabs_ticket p {
    color: #9FA7AB;
    font-size: 14px;
    z-index: 10;
    display: flex;
}
.right_tabs_ticket img {
    margin-left: 5px;
    width: 20px;
    height: 20px;
}
.tabs_ticket {
    display: flex;
    margin-top: 15px;
}
.item_tabs_ticket {
    width: 29.4%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    filter: drop-shadow(rgba(0, 0, 0, 0.15) 0px 1px 3px);
    position:relative;
}
.item_tabs_ticket::before {
    content: "";
    height: 50%;
    width: 100%;
    top: 0;
    background-image: radial-gradient( circle at 23% 0%, transparent 9px, #ffffff 9px );
    border-radius: 8px 8px 0 0;
    position:absolute;
    z-index: -1;
}
.item_tabs_ticket::after {
    content: "";
    height: 50%;
    width: 100%;
    bottom: 0;
    background-image: radial-gradient( circle at 23% 100%, transparent 9px, #ffffff 9px );
    border-radius: 0 0 8px 8px ;
    position:absolute;
    z-index: -1;
}
.left_item_tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    position: relative;
    text-align: center;
    border-radius: 8px;
}
.left_item_tabs img {
    width: 30px;
    height: 30px;
}

.right_item_tabs {
    flex: 1;
    padding: 15px 10px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 8px;
}
.title_right_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title_right_item p {
    color: #0D0E0F;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    overflow: hidden;
    line-height: 1.4;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    height: calc(15px * 1 * 1.4);
    display: -webkit-box;
    max-width: 200px;
}
.title_right_item a {
    color: #2F80ED;
    font-size: 12px;
}
.content_right_item {
    display: block;
    display: -webkit-box;
    height: calc(12px * 2 * 1.4);
    font-size: 12px;
    overflow: hidden;
    line-height: 1.4;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    color: #7A7E7F;
}
.tabs_discount .bg_img_tabs {
    background: #ffb323;
}
.tabs_pay .bg_img_tabs {
    background: #48a7f7;
}
.bg_img_tabs {
    padding: 24px 17.5px;
    border-radius: 8px;
}
.item_tabs_more {
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.item_tabs_more img {
    background: #c92127;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 8.5px;
    margin-bottom: 5px;
}
.item_tabs_more p {
    color: #C92127;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
}

/* slider  */
.slide_01 {
    margin-bottom: 15px;
}
.title_slide p {
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    margin-top: 1px;
}
.item_inner {
    position:relative;
    padding: 15px;
 }
 .discount {
    background-color: #F7941E;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 15px;
    top: 27px;
    z-index: 1;
 }
 .discount span {
    color: #fff;
    font-size: 17px;
    font-weight: bold;
 }
 .content_item_inner {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
 }
 .image_product {
    display: flex;
 }
 .name_product {
    padding-top: 0px !important;
    line-height: 1.4em;
    word-break: break-word;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 16px;
    text-align: start;
    color: #333333;
    margin-top: 10px;
 }
 .price {
    text-align: start;
    margin-top: 5px;
 }
 .new_price {
    color: #C92127;
    font-size: 18px;
    font-weight: 600;
 }
 .old_price {
    color: #888888;
    text-decoration: line-through;
    font-size: 14px;
 }
 .rating {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
 }
 .rating img {
    width: 18px;
    height: 18px;
 }
 .rating p {
    color: #F6A500 !important;
    font-size: 16px;
    font-weight: 500;
 }

 /* box infor  */
 .title_box_product {
    font-size: 17px;
    font-weight: bold;
    text-transform:capitalize;
    text-align: center;
    display: flex;
    align-items: center;
    margin-top: 1px;
 }
 .table_infor {
    border-bottom: 1px solid #c1c1c1;
 }
 table {
    margin: 10px 0;
 }
 th {
    color: #777;
    font-size: 14px;
    line-height: 24px;
    text-align: start;
    width: 25%;
    padding: 4px;
 }
 td, td p {
    color: #333;
    font-size: 14px;
 }
 td a {
    font-size: 14px;
    color: #2489F4;
 }
 td .p_color {
    color: #C92127;
 }
 .desc_content {
    margin-top: 20px;
 }
 .desc_content p {
    margin-bottom: 10px;
    font-size: 14px;
    text-align: justify;
 }

 /* eval  */
 .evaluate_product {
    padding: 15px !important;
 }
 .content_eval {
    display: flex;
    padding: 0 30px;
    margin-top: 15px;
 }
 .eval_left {
    width: calc(50% - 100px);
    display: flex;
 }
 .point {
    text-align: center;
    width: 30%;
 }
.point_vote {
    font-size: 52px;
    line-height: 58px;
    font-weight: 600;
}
.point_vote span {
    font-size: 26px;
}
.rating_star {
    margin-bottom: 5px;
}
.rating_star img {
    width: 15px;
}
.point p {
    color: #7A7E7F;
    font-size: 13px;
}
.star_vote {
    width: 70%;
}
.item_vote {
    display: flex;
    align-items: center;
}
.item_vote span {
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    font-weight: 400;
}
.vote_width {
    width: calc(100% - 115px);
    height: 5px;
    background: #e6e6e6;
    margin: 0 10px;
}
 .eval_right {
    width: calc(50% + 100px);
    align-items: center;
    display: flex;
 }
 .eval_right p {
    font-size: 13px;
    margin: auto;
 }
 .eval_right a {
    color: #2489F4;
    font-size: 13px;
 }

 /* policy  */
 .policy_product {
    display: flex;
    justify-content: space-around;
 }
 .item_policy {
    display: flex;
    align-items: center;
    padding: 10px;
 }
 .item_policy:hover span {
    color: #C92127;
 }
 .item_policy span {
    font-size: 16px;
    font-weight: 550;
    color: #646464;
    transition: 0.5s;
 }
.item_policy .span_none {
    padding-left: 15px;
}
 @media only screen and (max-width: 1024px) {
    .blog_content {
        width: 960px;
        margin: auto;
        padding: 135px 5px 0 5px;
    }
    .left_product {
        width: 44.5%;
    }
    .image_product_detail {
        justify-content: center;
    }
    .thumbnail {
        display: none;
    }
    .right_product {
        width: calc(100% - 410px);
        padding-left: 36px;
    }
    .name_product_detail {
        font-weight: 500;
    }
    .content_tabs {
        width: 100%;
        overflow:scroll;
    }
    .tabs_ticket {
        overflow: scroll;
        width:max-content;
        padding: 3px 0;
    }
    .title_box_product p {
        font-size: 19px;
    }
    .content_eval {
        flex-direction: column;
    }
    .eval_left, .eval_right {
        width: 100%;
    }
    .eval_right {
        margin-top: 10px;
    }
    .point {
        width: 14%;
    }
    .star_vote {
        width: 86%;
    }
 }

@media only screen and (max-width: 768px) {
    .blog_content {
        width: 98%;
        padding: 135px 0 0 0;
    }
    .breadcrumb {
        display: none;
    }
    .first_box_product {
        flex-direction: column;
    }
    .left_product {
        width: 100%;
    }
    .image_product_detail {
        height: 100%;
    }
    
    .slide_thumbnail img {
        margin: auto;
        width: 180px !important;
    }
    .product_add_box, .infor_summary, .quantity_product, .non_mobile {
        display: none;
    }
    .right_product {
        width: 100%;
        padding-left: 0;
    }
    .name_product_detail {
        font-size: 16px;
    }
    .price_discount {
        font-size: 24px;
    }
    .deli_child {
        justify-content: space-between;
    }
    

    .item_tabs_ticket {
        width: 23.2%;
    }
    .slide_thumbnail img {
        overflow:scroll;
    }
    .product_add_box_mobile {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .width_box_mobile {
        position: fixed;
        display: flex;
        align-items: center;
        bottom: 0;
        box-shadow: 0px -2px 4px #0000001A;
        margin: auto;
        z-index: 3;
    }
    .width_box_mobile .change_qty {
        background: #fff;
        border: none;
        padding: 12px 2px;
        border-right: 1px solid #CDCFD0;
        border-radius: 0;
    }
    .width_box_mobile .add_product {
        font-size: 15px;
        font-weight: 700;
        color: #C92127;
        text-align: center;
        align-items: center;
        padding: 18px 107px;
        background: #fff;
    }
    .width_box_mobile .buy_now {
        background: #C92127;
        color: #fff;
        font-size: 15px;
        font-weight: 700;
        padding: 18px 32px;
    }
    .product_add_box_mobile {
        display: block;
    }
}

@media only screen and (max-width: 540px) {
    .blog_content {
        width: 100%;
        padding: 90px 0 0 0;
    }
    .width_box_mobile {
        width: 100%;
    }
    .width_box_mobile .add_product {
        padding: 18px 74px;
    }
    .ticket_active {
        font-size: 14px;
    }
    .right_tabs_ticket {
        display: none;
    }
    .item_policy {
        flex-direction: column;
        text-align: center;
    }
    .item_policy img {
        width: 20px;
        padding-bottom: 8px;
    }
    .item_policy span {
        font-size: 14px;
        font-weight: unset;
    }
    .item_policy .span_none {
        display: none;
    }
}
@media only screen and (max-width: 414px) {
    .width_box_mobile .add_product {
        padding: 18px 17px;
        font-size: 14px;
    }
    .width_box_mobile .buy_now {
        font-size: 14px;
    }
}