.container_widget_about {
    padding: 0px 70px 0 70px;
}

a {
    color: #000;
}

.main_content_blog {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.breadcrumb {
    gap: 10px;
    display: none !important;
}

.this_breadcrumb {
    font-size: 16px;
    line-height: 24px;
    color: #999;
    font-weight: 700;
}

.breadcrumb p,
.breadcrumb span {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    color: #808EA1;
}

.left_detail {
    width: 100%;
    display: inline-block;
}

.left_detail a {
    box-shadow: inset 0 -4px 0 #7be2af;
    transition: 0.3s;
}

.left_detail a:hover {
    background: #7be2af;
}

.right_detail {
    display: none;
    margin-bottom: 20px;
    background: #FBFDFF;
    box-shadow: 0px 0px 20px rgba(19, 23, 54, 0.1);
    border-radius: 8px;
}

h3,
.content_blog h3 span {
    font-size: 23px !important;
    line-height: 32px !important;
    font-weight: 600 !important;
    margin-bottom: 12px !important;
    color: #000 !important;
    font-style: normal !important;
    text-align: left !important;
}

h4,
.content_blog h4 span,
.content_blog h4 p {
    font-size: 18px !important;
    line-height: 30px !important;
    font-weight: 500 !important;
    margin-bottom: 12px !important;
    color: #0040ff !important;
}

h5,
h6,
h5 span,
h6 span,
h5 p,
h6 p {
    font-weight: 500 !important;
    color: #0040ff !important;
}

.widget_home {
    background: #FBFDFF;
}

.link_breadcrumb {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #59606A;
}

.sapo_top p,
.sapo_top span {
    margin-bottom: 10px !important;
    font-size: 17px !important;
    line-height: 1.5 !important;
    text-align: justify !important;
}

.box_data_blog {
    margin-top: 20px;
    display: flex;
    gap: 127px;
    align-items: center;
}

.box_author {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 18px;
}

.box_date {
    display: flex;
    align-items: center;
}

.text_author {
    display: flex;
    gap: 5px;
    align-items: center;
    width: 100%;
    justify-content: end;
}

.text_author img {
    width: 20px;
    border-radius: 50%;
}

.name_author {
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    color: transparent;
    background: linear-gradient(90deg, #cc0355 0, #ea003a 0, #5447a4 100%);
    -webkit-background-clip: text;
}

/* .box_date::before {
    content: "";
    width: 6px;
    height: 6px;
    display: block;
    border-radius: 50%;
    background: #000;
    margin: 0 8px 0 0;
} */

.date_blog {
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #808EA1;
    margin-bottom: 0;
    margin-left: 5px;
}

.blog_content {
    width: calc(100% - 370px);
    display: flex;
    flex-direction: column;
}

.content_blog p,
.content_blog span {
    margin-bottom: 10px !important;
    font-size: 17px !important;
    line-height: 1.5 !important;
    text-align: justify !important;
    padding: 0 !IMPORTANT;
}

.content_blog figure p {
    margin: 0 !important;
    text-align: center !important;
}

.content_blog ul {
    padding: 0 !important;
    padding-left: 30px !important;
    list-style: disc;
}

.content_blog ol {
    padding-left: 30px;
    list-style: auto;
}

figcaption {
    font-size: 14px;
    text-align: center;
    font-style: italic;
    background: #ccc;
    line-height: 28px;
}

.content_blog {
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
}

/* podcast blog  */











.link_fl {
    display: flex;
    align-items: flex-start;
}



.middle_right {
    width: 244px;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.line_blog {
    border-top: 2px solid #f4aa1c;
    width: 100%;
    margin-bottom: 30px;
    border-image-slice: 1;
    border-image-source: linear-gradient(33.37deg, #77B955 0%, #008DC3 80.14%);
}

.list_blog_same {
    width: 100%;
    display: flex;
    gap: 25px;
    flex-direction: column;
}

.mucluc_blog {
    background: #ebebeb;
    padding: 10px 15px;
}

.img_show_ml {
    margin-left: 10px;
    width: 15px;
    height: 15px;
    transition: 0.5s;
}

.img_ml {
    width: 16px;
    margin-right: 5px;
    margin-top: -4px;
}

.title_mucluc {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #131736;
    text-align: center;
}

.box_title_ml {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.show_ml {
    font-size: 13px;
    text-transform: unset !important;
    cursor: pointer;
    color: #ab0609;
}

.show_ml:hover {
    text-decoration: underline;
}

.list_mucluc {
    margin-bottom: 8px;
    display: none;
}

.list_mucluc li {
    padding: 3px 0;
}

.list_mucluc a {
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #131736;
}

li .toc-ul {
    padding-left: 15px;
}

.toc-link-1 {
    font-weight: 600;
}

.ul_nav_mucluc {
    padding-left: 20px;
    border-top: 1px solid #DBDBDB;
    margin-top: 10px;
    margin-bottom: -11px;
}

.content_blog h2,
.content_blog h2 span {
    font-weight: 700 !IMPORTANT;
    font-size: 23px !important;
    line-height: 32px !important;
    color: #000 !important;
    font-style: normal;
    margin: 12px 0 !important;
    display: initial;
}

.this_train {
    padding: 16px 0;
    border-bottom: 1px solid #e6e8e9;
    width: 100%;
}

.this_train a {
    display: flex;
    align-items: flex-start;
    color: unset;
}

.title_blog {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: #333333 !important;
    margin: 0 0 8px;
    transition: 0.5s;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.des_post {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.des_post p,
.des_post span,
.des_post strong {
    color: #000000 !important;
    font-size: 14px !important;
    line-height: 21px !important;
    margin-top: 0 !important;
    text-align: left !important;
    font-weight: unset !important;
    display: inline;
}

.only_mobile {
    display: none !important;
}

.this_train a img {
    position: relative;
    width: 38.8%;
    float: left;
}

.box_right_data {
    width: calc(100% - 270px);
    padding-left: 20px;
}

.fl_date {
    margin: 10px 0 5px 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.cate_post {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #cb0030;
    padding-right: 15px;
}

.dot_item {
    position: relative;
    display: inline-block;
}

.dot_item::before {
    content: "";
    background-color: #868686;
    height: 3px;
    width: 3px;
    border-radius: 50%;
    position: absolute;
    top: 9px;
    right: 6px;
}

.date_post {
    font-size: 12px;
    font-weight: 500;
    color: transparent;
    background: linear-gradient(90deg, #cc0355 0, #ea003a 0, #5447a4 100%);
    -webkit-background-clip: text;
}

.des_blog {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    font-size: 14px !important;
}

.des_blog p,
.des_blog span,
.des_blog strong {
    color: #000000 !important;
    font-size: 14px !important;
    line-height: 21px !important;
    margin-top: 0 !important;
    text-align: left !important;
    font-weight: unset !important;
    display: inline;
}

figure {
    margin: auto;
    margin-bottom: 10px;
    width: 100% !important;
}

.content_blog li {
    margin-bottom: 10px;
    font-size: 17px !important;
    line-height: 1.5 !important;
    text-align: justify !important;
}

.content_blog div {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
}

.content_blog img {
    height: auto;
    width: 100%;
}

a.H3abc {
    padding-left: 15px;
}

a.H4abc {
    padding-left: 25px;
}

.content_blog ul li {
    line-height: 1.5 !important;
    white-space: unset !important;
}

th,
td {
    border-bottom: 1px solid #000 !important;
    border-left: 1px solid #000 !important;
    text-align: center !important;
    padding: 10px;
}

table {
    border-spacing: 0px !important;
    border: 1px solid #000 !important;
    border-bottom: none !important;
    border-color: black !important;
    width: 100% !important;
}

th:first-child,
td:first-child {
    border-left: none !important;
}

.content_blog table p,
.content_blog table span {
    margin-bottom: 0 !important;
    font-size: 17px !important;
    line-height: 1.5 !important;
}

.content_blog table th p {
    text-align: center !important;
    font-weight: 700;
}

.title_h1 {
    font-weight: 700;
    font-size: 34px;
    line-height: 45px;
    color: #131736;
    margin-bottom: 10px;
}

.emoji {
    width: 1em !important;
}

.box_tag {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.title_tag {
    line-height: 1.5;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #312e61;
    font-weight: 600;
}

.title_tag img {
    width: 20px;
    transform: rotate(90deg);
    margin-right: 5px;
}

.this_tag {
    width: fit-content;
    color: #333;
    font-size: 11px;
    font-weight: 500;
    border: 1px #ddd solid;
    border-radius: 30px;
    padding: 6px 12px;
    line-height: unset;
}

.sidebar_bot {
    width: 30.1%;
}

.sidebar_mid {
    display: none;
}

.follow_ggnew {
    background: #f1f2f2;
    border-radius: 16px;
    padding: 2px 10px;
    font-size: 14px;
    color: #7f7f80;
    font-weight: 500;
}

.follow_ggnew img {
    width: 47px;
}

.sidebar_box {
    margin-bottom: 20px !important;
}

@media only screen and (max-width: 1024px) {
    .container_widget_about {
        padding: 20px;
    }

    .box_author {
        gap: 12px;
        margin: 10px 0;
    }

    .date_blog {
        font-size: 14px;
        line-height: 16px;
    }

    .box_data_blog {
        gap: 20px;
        margin-top: 6px;
    }

    .right_detail {
        width: 100%;
        position: unset;
        float: unset;
        margin-bottom: 15px;
    }

    .left_detail {
        width: 100%;
        margin: 0;
    }

    .list_blog_same {
        gap: 20px;
    }

    .title_h1 {
        font-size: 28px;
        line-height: 48px;
        margin-bottom: 0px;
    }

    /* podcast  */
  

    .middle_right {
        width: 100%;
        margin-left: 0;
    }
}

@media only screen and (max-width: 768px) {
    .main_content {
        padding-top: 70px;
    }

    .main_content_blog {
        display: flex;
        flex-direction: column;
    }

    .blog_content {
        width: 100%;
    }

    .list_blog_same {
        justify-content: space-between;
    }

    .title_blog {
        font-size: 15px;
        line-height: 20px;
        margin: 0;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }

    .box_right_data {
        width: -webkit-fill-available;
    }

    

 
}

@media only screen and (max-width: 540px) {

    .main_content {
        padding-top: 80px;
    }

    .breadcrumb p,
    .breadcrumb span {
        margin-bottom: 0;
    }

    .container_widget_about {
        padding: 0 20px;
    }

    .box_data_blog {
        flex-direction: column-reverse;
        margin-top: 24px;
        gap: 16px;
    }

    .left_blog {
        width: 100%;
    }

    .box_author {
        flex-direction: column;
        align-items: flex-start;
    }

    .mucluc_blog {
        padding: 16px;
    }

    .title_mucluc {
        font-size: 15px;
        line-height: 24px;
    }

    .ul_nav_mucluc {
        margin-bottom: -7px;
    }

    .list_blog_same {
        flex-direction: column;
    }

    .title_blog {
        display: none;
    }

    .only_mobile {
        font-size: 21px;
        font-weight: bold;
        line-height: 26px;
        color: #333;
        display: -webkit-box !important;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        margin-bottom: 15px;
    }

    .this_train a img {
        min-height: 113px;
        width: 50%;
    }

    .box_right_data {
        padding-left: 15px;
        display: flex;
        flex-direction: column;
    }

    .fl_date {
        margin: 5px 0;
    }

    .date_post {
        font-size: 13px;
        line-height: 1.5;
    }

    .des_blog {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
    }

    .title_h1 {
        font-size: 26px;
        line-height: 34px;
    }


  


    .sidebar_mid {
        display: block !important;
        margin-top: 10px;
    }

    .sidebar_bot,
    .sidebar_box,
    .hot_news {
        display: none !important;
    }
}