.footer_content {
    background: #f0f0f0;
}
.bg_ft {
    background: #fff;
    padding: 40px 0;
}
.ft_top {
    display: flex;
}
/* footer top left  */
.ft_top_left {
    width: 33.33%;
    padding: 0 15px;
}
.content_ft_left {
    padding: 0 15px;
    border-right: 1px solid #cecece;
}

.ft_top_left p {
    font-size: 14.5px;
    color: #333;
}
.logo_ft {
    padding: 10px 0;
    display: block;
}
.logo_ft img {
    width: 79.3%;
}
.img_bct {
    margin: 15px 0;
    display: block;
}
.img_bct img {
    width: 100px;
    height: auto;
}
.all_contact {
    margin-bottom: 20px;
}
.app {
    display: flex;
}
.app a {
    padding-right: 30px;
    width: 29%;
}
 /* footer top right  */
 .ft_top_right {
    display:flex;
    flex-direction: column;
    width: 66.66%;
 }
 .top_right_01 {
    display: flex;
 }
 .item_right_01 {
    width: 33.33%;
    padding: 0 15px;
 }
.title_item {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 39px;
    color: black;
    font-weight: bold;
}

.list_item_ft a {
    color: #000;
    line-height: 35px;
    font-size: 15px;
    transition: 0.5s;
}
.list_item_ft a:hover {
    padding-left: 10px;
    color: #ca2128;
}
 .infor_contact {
    display: flex;
 }
 
 .top_right_02 .title_item {
    padding: 0 15px;
 }
 .infor_contact p {
    padding: 0 15px;
    font-weight: 400;
 }
 .infor_contact img {
    width: 20px;
 }
 .list_logo_ft {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 25px;
    height: 80px;
    align-items: center;
    text-align: center;
 }
 .list_logo_ft img {
    max-height: 50px;
 }
 

 /* footer bottom  */
 .ft_bottom {
    text-align: center;
    margin-top: 20px;
 }
 .ft_bottom p {
    color: #adadad;
    font-size: 14px;

 }

 @media only screen and (max-width: 1024px) {
    .bg_ft {
        background: none;
        padding: 0;
    }
    .ft_bottom {
        text-align: center;
        margin: 20px auto 0;
        width: 90%;
        padding-bottom: 20px;
    }
 }

 @media only screen and (max-width: 768px) {
    .img_top_header {
        display: none;
    }
    .logo_ft img {
        width: 55%;
    }
    .ft_top {
        flex-direction: column;
    }
    .ft_top_left {
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .content_ft_left {
        border: none;
    }
    .app {
        width: 100%;
    }
    .app a {
        width: 25%;
        margin: auto;
    }
    .ft_top_right {
        width: 100%;
        margin-top: 20px;
    }
    .top_right_01 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .item_right_01 {
        width: 30%;
        padding: 0 10px;
    }
    .top_right_03 {
        padding: 0 15px;
    }
    .top_right_02 .title_item {
        padding: 0 10px;
    }
    .top_right_03 {
        display: none;
    }
 }

 @media only screen and (max-width: 540px) {
    .item_right_01 {
        width: 45%;
        margin-top: 20px;
    }
    .infor_contact {
        flex-direction: column;
    }
    .infor_contact p {
        padding: 5px 15px;
    }
 }
 @media only screen and (max-width: 414px) {
    .item_right_01 {
        width: 100%;
    }
 }