.footer {
	margin-top: 20px;
}

.ft_top {
	display: flex;
	flex-wrap: wrap;
	padding: 40px 0;
	justify-content: space-between;
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
}
.line_ft_top {
	color: #e3e3e4;
	border-left: 1.5px solid #e3e3e4;
	margin: 0 24px;
}
.ft_top_01 {
	flex: 0 0 238px;
}
.ft_top_01 p {
	font-size: 24px;
	letter-spacing: 1px;
	line-height: 31px;
	font-weight: 600;
}
.all_menu_ft {
	display: flex;
	margin-top: 30px;
}
.list_item_menu_ft {
	list-style: none;
    margin-right: 40px;
}
.list_item_menu_ft .item_menu_ft {
	margin-bottom: 12px;
}
.item_menu_ft a {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.7px;
	color: #0d0d0d;
	font-weight: 500;
}
.ft_top_02 {
	flex: 0 0 321px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.ft_top_02 img {
	width: 296px;
}
.ft_top_03 {
	flex: 1 1 0;
}

.ft_top_02 p {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.7px;
	color: #0d0d0d;
}
.list_contact {
	margin-top: 16px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}
.list_contact .qr_code {
	width: 88px;
	height: 88px;
}
.list_contact .app {
	width: 131px;
}
.app a {
	width: 100%;
	height: auto;
}
.app a:first-child img {
	margin-bottom: 12px;
}
.mxh a {
	margin-right: 12px;
}
.mxh a:last-child {
	margin: 0;
}
.mxh img {
	width: 17px;
	padding: 4px;
	border-radius: 4px;
}
.mxh .icon_fb {
	background: #1a77f2;
}
.mxh .icon_yt {
	background: #f00;
}
.mxh .icon_tt {
	background: #000;
}
.mxh .icon_ins {
	background: radial-gradient(
			circle farthest-corner at 35% 90%,
			#fec564,
			transparent 50%
		),
		radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
		radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
		radial-gradient(
			ellipse farthest-corner at 20% -50%,
			#5258cf,
			transparent 50%
		),
		radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
		radial-gradient(
			ellipse farthest-corner at 60% -20%,
			#893dc2,
			transparent 50%
		),
		radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
		linear-gradient(
			#6559ca,
			#bc318f 30%,
			#e33f5f 50%,
			#f77638 70%,
			#fec66d 100%
		);
}
.ft_bot {
	padding: 8px 0 32px 0;
	display: flex;
	justify-content: space-between;
    flex-wrap: wrap;
}
.ft_bot .item_ft_bot {
	margin-top: 8px;
	width: 32%;
}
.item_ft_bot p {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.7px;
}
.fanpage_fb {
    width: 482px;
    overflow:hidden;
}
._1drm ._1z7u {
    right: 18px !important;
}
@media only screen and (max-width: 1024px) {
	.footer_content {
		padding: 0 20px;
	}
    .line_ft_top {
        margin: 0 20px;
    }
    .list_contact {
        justify-content: flex-start;
    }
    .qr_code {
        margin-right: 50px;
    }
    .mxh {
        margin-top: 20px;
    }
    .fanpage_fb {
        width: 340px;
        overflow:hidden;
    }
}
@media only screen and (max-width: 768px) {
    .line_ft_top {
        margin: 0;
    }
    .line_nonpc {
        width: 100%;
        margin: 16px 0;
        border-left: none;
        border-bottom: 1.5px solid #e3e3e4;
    }
    .ft_top {
        padding: 20px 0;
    }
    .ft_top_01, .ft_top_02 {
        flex: 0 0 48%;
    }
    .list_contact .app {
        margin-right: 50px;
    }
    .mxh {
        margin: 0;
    }
    .ft_bot .item_ft_bot {
        width: 45%;
    }
    .ft_bot_03 {
        width: 100% !important;
    }
    .fanpage_fb {
        width: 100%;
        overflow:hidden;
    }
}
@media only screen and (max-width: 540px) {
    .item_ft_top {
        width: 100%;
        flex:none;
    }
    .line_ft_top {
        border-left: none;
        border-bottom: 1.5px solid #e3e3e4;
        width: 100%;
        margin: 16px 0;
    }
    .qr_code {
        margin-right: 20px;
    }


    .ft_bot .item_ft_bot {
        width: 100%;
    }
}
@media only screen and (max-width: 414px) {
    .mxh {
        margin-top: 20px;
    }
}