* {
	font-family: 'Mulish', sans-serif !important;

}

body {
	background: #f7f7f7;
}

.main_header {
	background-color: #272729;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 4;
}

.body_width {
	width: 100%;
	max-width: 1085px;
	margin: auto;
}

.logo_header {
	width: auto;
	height: 55px;
}

.list_menu_pc {
	display: flex;
	margin-top: 15px;
}

.box_login_menu {
	font-size: 13px;
	color: #fff;
}

.btn_menu_mb {
	display: none;
}

.list_child {
	display: none;
	position: absolute;
	background: #272729;
	width: max-content;
	min-width: 160px;
}

.menu_parent>a,
.list_bnt_menu span {
	padding: 10px 20px;
	display: block;
	font-size: 16px;
	line-height: 1.4;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
}

.list_bnt_menu {
	display: flex;
	margin-left: auto;
}

.menu_parent:hover .list_child {
	display: block;
}

.menu_parent {
	position: relative;
}

.menu_child {
	display: block;
	padding: 10px;
	font-size: 16px;
	line-height: 1.4;
	font-weight: 700;
	color: #fff;
}

.menu_child:hover {
	background: #333;
}

@media only screen and (max-width: 1024px) {
	.logo_header {
		height: 50px;
	}
	.list_menu_pc {
		display: none;
		height: calc(100vh - 65px);
	}

	.list_child {
		display: none !important;
	}

	.btn_menu_mb {
		display: block;
	}

	.content_header {
		padding: 5px 15px;
		width: auto;
		width: -webkit-fill-available;
		top: 0;
	}

	.box_login_menu {
		display: none;
	}

	.top_menu {
		display: flex;
		justify-content: space-between;
	}

	.menu_parent>a,
	.list_bnt_menu span {
		padding: 10px 0;
	}

	.list_bnt_menu {
		gap: 50px;
	}
}