
* {
<<<<<<< HEAD
	font-family: nunito-sans, sans-serif, Helvetica, Arial;
=======
	font-family: 'Mulish', sans-serif !important;

>>>>>>> 6d273a316caa1d0730d6d6fdef39740b98d6d957
}
body {
	background: #f0f0f0;
}
.header {
	background: #fff;
}
.img_top_header {
	width: 100%;
	background: #F5C73D;
	text-align: center;
}
.body_width {
	max-width: 1230px;
	margin: auto;
}
<<<<<<< HEAD
.list_menu_header {
	display: flex;
	align-items: end;
	padding-bottom: 15px;
}
.list_item_menu {
	display: flex;
	align-items: end;
	width: 100%;
	position:relative;

}
.logo_mobile {
	display: none;
}
.logo_header img {
	height: 54px;
=======

.fan_page a:hover {
	border: 1px solid #413e3e;
}

.fan_page a {
	padding: 7px 15px;
	border: 1px solid #eee;
	font-size: 10px;
	font-weight: 500;
	color: transparent;
	background: linear-gradient(90deg, #cc0355 0, #ea003a 0, #5447a4 100%);
	-webkit-background-clip: text;
	border-radius: 15px;
	margin-right: 15px;
	transition: 0.5s;
>>>>>>> 6d273a316caa1d0730d6d6fdef39740b98d6d957
}
.menu_hover {
	margin-left: 45px;
	display: flex;
	flex-direction: column;
	cursor: pointer;
}
.icon_drop_menu {
	display: flex;
	align-items: center;
}
.content_drop_menu {
	display: flex;
	align-items: center;
}
.menu_hover:hover .drop_menu {
	height: max-content;
	padding: 24px 12px 16px;

}

.img_menu {
	background: url(/images/icons/icon_menu.webp) no-repeat center center;
	background-size: contain;
	width: 36px;
	height: 36px;
	display: block;
}
.img_drop {
	background: url(/images/icons/icon_arrow_menu.png ) no-repeat center center;
	background-size: contain;
	width: 11px;
	height: 11px;
	display: block;
}
.icon_arrow {
	height: 16px;
	width: 16px;
}
.list_menu_mobile {
	display: none;
}
.drop_menu {
	position: absolute;
    max-width: 1230px;
    z-index: 3;
    display: flex;
    left: 0;
    top: 69px;
    margin: auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgb(32 33 36 / 28%);
	padding: 0;
	overflow:hidden;
	transition: 0.3s;
	height: 0px;
}
.item_left_child {
	display: block;
	transition: 0.3s;
	border-radius: 8px;

}
.item_left_child:hover {
	background: #f2f4f5;
}
.item_left_child img {
	display: none;
}
.left_drop {
	width: 23%;

}
.title_left_drop {
	font-weight: bold;
    font-size: 20px;
    color: #7A7E7F;
    text-align: left;
    padding: 0 12px;
    margin-bottom: 16px;
}
.item_left_child p {
	width: 100%;
    padding: 16px 12px;
    color: #212121;
    font-weight: bold;
    font-size: 16px;
}
<<<<<<< HEAD
.line_drop {
	width: 12px;
	border-right: 1px solid #CDCFD0;
}
.right_drop {
	width: calc(100% - 292px);
=======

/* .list_menu ul {
		list-style: none;
		width: 1042px;
		height: 100%;
		margin: 0 auto;
	} */

.this_menu {
	float: left;
	position: relative;
	margin: 4px 2px 0 0;
	padding: 1px 0 1px 0;
>>>>>>> 6d273a316caa1d0730d6d6fdef39740b98d6d957
}
.item_right_drop {
	display: none;
}
.title_item_right {
	display: flex;
	align-items: center;
	padding-left: 24px;
}
.title_item_right img {
	width: 24px;
	height: 24px;
	margin-right: 8px;
}
.title_item_right p {
	font-size: 24px;
	font-weight: bold;
}
.content_item_right {
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;
}
.item_right_child {
	display: flex;
	flex-direction: column;
	width: 20%;
	margin: 8px 0;
	padding-left: 24px;
}
.title_right_child {
	font-weight: bold;
    color: #000;
    font-size: 13px;
}
.item_list_right_child {
	color: #666;
	font-size: 13px;
	padding-top: 8px;
	display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
	text-transform: capitalize;
	transition: 0.5s;
}
.item_list_right_child:hover {
	color: #bf9a61;
}
.see_all {
	color: #2489f4;
	padding-top: 8px;
	font-size: 13px;
}

/* search  */
.search {
	width: 47.57%;
	padding: 5px 8px 0 8px;
}
.search form {
	display: block;
	position:relative;
	width: 100%;
}
.img_search {
	height: 20px;
    width: 20px;
    position: absolute;
    right: 5px;
    background: #C92127;
    padding: 3px 24px;
    border: 2px solid #C92127;
    border-radius: 7px;
    top: 4px;
}
.search input {
	height: 38px;
    padding: 0 80px 0 24px;
    border: 1px solid #CDCFD0;
	border-radius: 8px;
	width: -webkit-fill-available;
	font-size: 14px;
}
::placeholder {
	color: #cdcfd0;
}
.all_btn {
	display: flex;
	padding-left: 24px;
	width: 24.23%;
    justify-content: space-between;
	position:relative;
}
.item_btn {
	text-align: center;
}
.icon_btn_mobile {
	display: none;
}
.item_btn img {
	width: 24px;
	height: 24px;
}
.item_btn p {
	line-height: 18px;
    color: #7A7E7F;
    font-size: 13px;
}
.item_btn_last {
	display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #CDCFD0;
    padding: 7px 10px;
    border-radius: 8px;
    height: max-content;
	cursor: pointer;
}
.img_flag_default {
	background: url(/images/icons/icon_vietnam.png) no-repeat center center;
	background-size: cover;
	width: 37px;
	height: 24px;
	display: block;
	margin-right: 4px;
}
.img_flag_eng {
	background: url(/images/icons/icon_britain.png) no-repeat center center;
	background-size: cover;
	width: 37px;
	height: 24px;
	display: block;
	margin-right: 4px;
}
.content_flag {
	position:absolute;
	right:0;
	top:55px;
	box-shadow: 0 4px 6px rgb(32 33 36 / 28%);
	background: #fff;
	border-radius: 8px;
	padding: 6px 8px;
	transform:scale(0);
	transition: 0.5s;
	z-index: 2;
}
.default {
	background: #F2F4F5;

}
.item_content_flag {
	padding: 8px;
	border-radius: 8px;
	display: flex;
	cursor: pointer;
	transition: 0.3s;
}
.item_content_flag:hover {
	background: #F2F4F5;
}
.name_flag {
	margin-left: 4px;
}
@media only screen and (max-width: 1024px) {
	.header {
		position:fixed;
		width: 100%;
		z-index: 3;
	}
	.list_menu_header {
		max-width: 100%;
		padding: 10px 25px;
	}
	.logo_header img {
		height: 48px;
	}
	.search {
		width: 37.3%;
	}
<<<<<<< HEAD
	.img_search {
		top: 6px;
	}
	.all_btn {
		width: 29%;
	}
	.slick-arrow {
		display: none !important;	
=======

	.fan_page,
	.weather,
	.search_only_pc,
	.noti {
		display: none !important;
>>>>>>> 6d273a316caa1d0730d6d6fdef39740b98d6d957
	}
}
@media only screen and (max-width: 768px) {
	.list_menu_header {
		background: #c92127;
		display: flex;
		flex-direction: column;
		padding: 0px;
	}
	.logo_mobile {
		display: block;
		text-align: center;
		margin-bottom: 10px;
	}
	.logo_mobile img {
		width: 17%;
		margin:auto;
	}
	.icon_btn_pc {
		display: none;
	}
	.icon_btn_mobile {
		display: block;
		width: 30px !important;
		height: 30px !important;
	}
	.logo_header, .item_btn p, .item_btn_last {
		display: none;
<<<<<<< HEAD
=======
		left: 0;
		top: 61px;
		border-top: 1px solid #eee;
		background: #fff;
		width: 100%;
		height: calc(100vh - 61px);
		overflow-y: scroll;
		z-index: 99;
>>>>>>> 6d273a316caa1d0730d6d6fdef39740b98d6d957
	}
	.menu_hover {
		margin: 0;
		width: 40px;
	}
<<<<<<< HEAD
	.list_menu_mobile {
		display: block;
=======

	.search_sub {
		background: linear-gradient(90deg, #cc0355 0, #ea003a 0, #5447a4 100%);
		padding: 15px 16px;
		display: flex;
		display: none;
>>>>>>> 6d273a316caa1d0730d6d6fdef39740b98d6d957
	}
	.list_item_menu {
		align-items: center;
<<<<<<< HEAD
		justify-content: space-evenly;
		padding: 5px 4px 20px 4px;
=======
		border: 1px solid #e1e1e1;
	}

	.img_seach_sub {
		position: absolute;
		right: 10px;
	}

	.input_sub {
		border: none;
		width: 100%;
		font-size: 16px;
		color: #898989;
	}

	.btn_header {
		padding: 10px 20px 0 20px;
	}

	.night_mode {
		position: relative;
		margin-bottom: 15px;
	}

	.span {
		position: absolute;
		top: 0;
		left: 0;
		height: 22px;
		width: 22px;
		background-color: #eee;
		border-radius: 2px;
	}

	.span::after {
		left: 8px;
		top: 4px;
		width: 5px;
		height: 9px;
		border: solid white;
		border-width: 0 2px 2px 0;
		transform: rotate(45deg);
		content: "";
		position: absolute;
	}

	.night_mode p {
		padding-left: 30px !important;
		font-size: 14px;
		color: #333;
		line-height: 1.5em;
	}

	.item_btn {
		display: flex;
	}

	.item_btn p {
		font-size: 14px;
		color: #333;
		line-height: 1.5em;
		padding-left: 8px;
	}

	.item_btn span {
		background: #eee;
		margin-bottom: 15px;
		width: 22px;
		height: 22px;
		text-align: center;
	}

	.item_btn img {
		width: 16px;
		height: 16px;
	}

	.list_item_sub {
		list-style: none;
>>>>>>> 6d273a316caa1d0730d6d6fdef39740b98d6d957
	}
	.img_menu {
		background: url(/images/icons/icon_menu_whitle.png) no-repeat center center;
		background-size: contain;
		width: 32px;
		height: 32px;
	}
<<<<<<< HEAD
	.img_drop {
		display: none;
=======

	.menu_con::before {
		display: none !important;
	}

	.menu_con_sub {
		padding: 0 20px;
>>>>>>> 6d273a316caa1d0730d6d6fdef39740b98d6d957
	}
	.search {
		width: 81%;	
		padding: 0;
	}
<<<<<<< HEAD
	.search input {
		height: 31px;
		border-radius: 3px;
		border: 1px solid #c92127;
		font-size: 14px;
		padding: 0 80px 0 10px;
=======

	.item_menu_sub {
		width: 100%;
		font-size: 15px;
		color: #000;
		padding: 10px 15px;
		border-top: 1px solid #e8e8e8;
		background: #f5f5f5;
		text-transform: uppercase;
		font-weight: bold;
>>>>>>> 6d273a316caa1d0730d6d6fdef39740b98d6d957
	}
	.img_search {
		display: none;
	}
	.all_btn {
		width: 10%;
		padding-left: 0;
	}

<<<<<<< HEAD
	.drop_menu {
		height: 100vh;
		top: -40px;
		width: 100%;
		transform: translateX(-101%);
		display: flex;
		flex-direction: column;
		padding: 0 !important;
	}
	.list_menu_mobile {
		display: flex;
		background: #C62128;
		color: #fff;
=======
	.row_sub {
		display: flex;
		flex-wrap: wrap;
	}

	.row_sub li {
		margin-bottom: 15px;
		width: 50%;
		display: flex;
		align-items: center;
	}

	.row_sub a {
		color: #000;
		font-size: 14px;
		font-weight: 500;
		position: relative;
	}

	.row_sub a::before {
		content: 'â¯';
		font-size: .8em;
		position: absolute;
		left: -10px;
		color: #ddd;
>>>>>>> 6d273a316caa1d0730d6d6fdef39740b98d6d957
	}
	.list_menu_mobile img {
		width: 18px;
		padding: 19px;
	}
	.text_list_menu_mobile {
		font-size: 18px;
		font-weight: 700;
		margin: auto;
	}
	.content_drop_menu {
		align-items: flex-start;
		background: #f2f4f5;
	}
 	.title_left_drop {
		display: none;
	}
	.left_drop {
		width: 12%;
	}
<<<<<<< HEAD
	.list_item_left a:not(:first-child) {
		/* border-top: 2px solid #f3f4f5; */
		
	}
	.item_left_child {
		text-align: center;
		padding: 12px 10px;
		border-radius: 0px;
=======

}

@media only screen and (max-width: 540px) {


	.menu_con {
		display: none;
		border: none;
		padding: 0px 30px;
		margin: 0 !important;
>>>>>>> 6d273a316caa1d0730d6d6fdef39740b98d6d957
	}
	.item_left_child p {
		font-size: 13px;
		padding: 0;
	}
	.item_left_child img {
		width: 20px;
		display: block;
		margin: auto;
	}
	.active {
		border-left: 2px solid #C62128;
		background: #fff;
	}
	.active p {
		color: #C62128;
		font-weight: bold;
	}
	.content_item_right {
		flex-direction: column;
	}
	.line_drop {
		width: 0;
	}
	.right_drop {
		width: 88%;
	}
	.title_item_right {
		display: none;
	}
	.item_right_child {
		width: 100%;
	}
	.item_list_right_child {
		height: 0;
		transition: 0.5s;
	}
<<<<<<< HEAD
}
@media only screen and (max-width: 414px) {
	.logo_mobile img {
		width: 30%;
	}
	.search {
		width: 72%;
	}
	.all_btn {
		width: 15%;
	}
	.search input {
		padding: 0 30px 0 10px;
	}
=======
>>>>>>> 6d273a316caa1d0730d6d6fdef39740b98d6d957
}