.homeContent {
    position: relative;
    padding: 20px;
}

.main_content {
    background: #f7f7f7;
    padding-top: 60px;
    position: relative;
    z-index: 0;
}

strong {
    font-weight: unset !important;
}

.container_widget {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.right_home {
    width: calc(100% - 344px);
}

.sapo_blod span {
    display: inline;
}

.des_post,
.des_post p,
.des_post span {
    color: #000000 !important;
    font-size: 15px !important;
    line-height: 21px !important;
    margin-top: 0 !important;
    text-align: left !important;
    font-weight: unset !important;
    display: inline;
}

.this_content_right {
    border-bottom: 1px solid #ddd;
    backdrop-filter: blur(5px);
    background-color: rgb(255, 255, 255);
    padding: 14px 12px 12px;
    border-radius: 12px;
    margin-bottom: 16px;
}

.title_blog {
    text-align: left;
    color: #454545;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    transition: 0.5s;
}

.title_blog:hover {
    color: #008037;
}

.blog_2 {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.blog_2 img {
    height: 166px;
}

.blog_2 .link_fl {
    display: block;
}

.blog_2 .box_content_blog {
    display: inline-table;
    width: -webkit-fill-available;
    padding: 0 10px;
    position: absolute;
    bottom: 6px;
    left: 0;
    z-index: 1;
}

.blog_2 .title_blog {
    font-size: 14px;
    line-height: 1.36;
    color: #fff;
    font-weight: 700;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.only_mobile {
    display: none !important;
}

.date_post {
    font-size: 12px;
    font-weight: 500;
    color: #000000;
}

.dot_item {
    position: relative;
    display: inline-block;
}

.dot_item::before {
    content: "";
    background-color: #868686;
    height: 3px;
    width: 3px;
    border-radius: 50%;
    position: absolute;
    top: 9px;
    right: 6px;
}

.cate_post {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #000000;
    padding-right: 15px;
    transition: 0.5s;
}

.this_content_right img {
    position: relative;
    width: 33.8%;
    float: left;
    border-radius: 5px;
}

.box_content_blog {
    width: calc(100% - 270px);
    float: left;
    padding-left: 20px;
}

.des_post {
    font-size: 14px;
    line-height: 17px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-top: auto !important;
}

/* ----  */
.load_more {
    max-width: 170px;
    position: relative;
    background: #008037;
    padding: 1px;
    border-radius: 35px;
    margin: 20px auto;
}

.btn_see_more {
    background: #fff;
    padding: 6px 15px 7px 10px;
    border-radius: 35px;
    color: #333;
    display: block;
    width: 100%;
    border: none;
    cursor: pointer;
    position: relative;
}

.btn_see_more span {
    color: #533c94;
    font-weight: 500;
    font-size: 14px;
}

.icon_arrow_down {
    position: absolute;
    background-image: url(/images/icons/arrow-down.png);
    width: 9px;
    height: 5px;
    right: 12px;
    top: 16px;
    background-repeat: no-repeat;
}

.linl_all_detail {
    position: relative;
    background: unset;
}

.blog_1 .linl_all_detail {
    display: block;
}

.blog_top_left {
    position: relative;
    background: unset;
}

.bg_image {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(180deg, transparent 25%, #000);
    opacity: .8;
}

.title_blog_top:before {
    content: "";
    position: absolute;
    top: 9px;
    left: 0;
    height: 20px;
    width: 7px;
    background-color: #f0771c;
}

.title_blog_top {
    font-size: 26px;
    line-height: 37px;
    margin-bottom: 9px;
    padding-left: 10px;
    font-weight: 700;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: #fff;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-transform: uppercase;
}

.blog_top {
    padding: 16px 12px;
    border-radius: 12px;
    background-color: #272729;
}

.border_blog {
    padding-bottom: 30px;
    border-bottom: 3px dotted #afa9a9;
}

.left_blog_top {
    width: calc(100% - 330px);
}

.blog_top_left img {
    width: 100%;
    max-height: 331px;
    border-radius: 8px;
    background: unset;
}

.blog_top_right {
    position: absolute;
    z-index: 1;
    bottom: 8px;
    padding: 0 11px;
}

.link_fl {
    display: flex;
    align-items: flex-start;
}

.fl_date {
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.box_content_blog {
    width: -webkit-fill-available;
}

.sidebar_content {
    width: 324px;
}

.list_tab {
    overflow: auto;
    gap: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    width: max-content;
}

.tab_home {
    overflow: auto;
    backdrop-filter: blur(5px);
    background-color: rgb(255, 255, 255);
    margin-bottom: 16px;
    border-radius: 12px;
}

.this_tab {
    border-radius: 19px;
    padding: 4px 6px;
    margin-bottom: 0;
    transition: all .2s;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.this_tab span {
    background: url(/images/icons/Danhgia.svg);
    width: 23px;
    height: 23px;
    margin-top: -4px;
}

.this_tab:nth-child(1) .img_tab {
    background: url(/images/icons/new.svg);
}

.this_tab:nth-child(2) .img_tab {
    background: url(/images/icons/Khampha.svg);
}

.this_tab:nth-child(4) .img_tab {
    background: url(/images/icons/Doisong.svg);
}

.this_tab:nth-child(4) .img_tab {
    background: url(/images/icons/Tuvan.svg);
}

.this_tab:nth-child(6) .img_tab {
    background: url(/images/icons/forum-vnr.svg);
}

.tab_home::-webkit-scrollbar {
    height: 2px;
    background: #fff;
}

.this_tab:first-child {
    background: rgb(245, 245, 245);
}

.name_tab {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.36;
    color: #333;
    text-align: left;
    margin-left: 10px;
    transition: all .3s;
    white-space: nowrap;
}

.this_tab:hover {
    background: rgb(245, 245, 245);
}

.this_tab:hover p {
    color: red;
}

.blog_content_2 .des_post {
    display: none;
}

@media only screen and (max-width: 1280px) {
    .homeContent {
        padding: 20px 70px;
    }
}

@media only screen and (max-width: 1024px) {

    .homeContent {
        padding: 0 20px;
    }

    .des_post {
        -webkit-line-clamp: 2;
    }

    .blog_2 .box_content_blog {
        margin: 0;
        width: auto;
    }

    .box_content_blog {
        padding: 0;
        margin-left: 10px;
    }

}

@media only screen and (max-width: 768px) {
    .right_home {
        width: 72%;
        padding: 0;
    }

    .left_blog_top {
        width: 100%;
    }

    .title_blog {
        font-size: 15px;
        line-height: 20px;
    }

    .fl_date {
        margin: 5px 0;
    }

    .this_content_right img {
        width: 39%;
    }
}

@media only screen and (max-width: 540px) {
    .container_widget {
        flex-direction: column;
        margin-top: 20px;
        padding: 0 10px;
    }

    .homeContent {
        padding: 0;
    }

    .right_home {
        margin-top: 0;
        width: 100%;
    }

    .linl_all_detail {
        flex-direction: column;
    }

    .blog_top_left,
    .blog_top_right {
        width: 100%;
    }

    .blog_top_right {
        width: -webkit-fill-available;
    }

    .box_content_blog .title_blog {
        display: none;
    }

    .only_mobile {
        display: block !important;
    }

    .title_blog_top {
        font-size: 20px;
        margin-bottom: 0;
        line-height: 1.5;
    }

    .link_fl {
        flex-direction: row;
        gap: unset;
        padding: 0;
    }

    .box_content_blog {
        display: flex;
        flex-direction: column;
    }

    .des_post {
        text-align: left;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
        font-size: 13px;
        line-height: 18px;
        font-family: 'Arial', sans-serif;
        margin: 0;
    }

    .dot_item::before {
        content: "";
        background-color: #868686;
        height: 3px;
        width: 3px;
        border-radius: 50%;
        position: absolute;
        top: 9px;
        right: 6px;
    }

    .this_content_right img {
        min-height: 113px;
        width: 50%;
    }

    .blog_top {
        border-radius: 0;
        background-color: unset;
        padding: 0;
    }

    .blog_2 {
        flex-direction: column;
        padding: 0 10px;
        margin-top: 16px;
    }

    .blog_1 {
        background-color: #272729;
    }

    .title_blog_top:before {
        top: 5px;
    }

    .blog_content_2 {
        border-bottom: 1px solid #ddd;
        backdrop-filter: blur(5px);
        background-color: rgb(255, 255, 255);
        padding: 14px 12px 12px;
        border-radius: 12px;
    }

    .blog_2 .link_fl {
        display: flex;
    }

    .blog_content_2 img {
        min-height: 113px;
        width: 50%;
        height: auto;
        border-radius: 5px;
    }

    .blog_2 .box_content_blog {
        padding: 0;
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        position: unset;
    }

    .blog_content_2 .bg_image {
        display: none;
        position: unset;
    }

    .blog_2 .box_content_blog .title_blog {
        display: none !important;
    }

    .blog_2 .title_blog {
        font-size: 21px;
        font-weight: bold;
        line-height: 26px;
        color: #333;
        display: -webkit-box !important;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        margin-bottom: 15px;
    }

    .fl_date.only_mobile {
        display: flex !important;
    }

    .blog_content_2 .des_post {
        display: -webkit-box;
    }

    .title_blog.only_mobile {
        font-size: 21px;
        font-weight: bold;
        line-height: 26px;
        color: #333;
        display: -webkit-box !important;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        margin-bottom: 15px;
    }

    .blog_top_left img {
        border-radius: 0;
    }
}