



.home_content {
    background: #F0F0F0;
    padding: 15px 0;
}
.banner {
    display: flex;
}
.slide_banner {
    width: 67.5%;
    margin-top: 4px;
    position:relative;
}
.slick-list {
    border-radius: 8px;
}
.slick-dots {
    position:absolute;
    bottom: 25px;
}
.slick-dotted.slick-slider {
    margin-bottom: 0;
}
.slick-arrow {
    width: 24px;
    height: 24px;
    background: #fff;
    box-shadow: 0px 2px 8px #00000029;
    border-radius: 50%;
    top: 150px;
}
.slick-arrow img {
    width: 9px;
    height: 9px;
}
.slick-arrow::before {
    display: none;
}
.slick-prev {
    transform:rotate(90deg);
    left: -15px;
    z-index: 2;
}
.slick-next {
    transform: rotate(-90deg);
    right: -15px;
}


.banner_right {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 8px;
}
.banner_right a {
    margin-bottom: 4px;
    margin-top: 4px;
    height: calc(50% - 4px);
}
.banner_right img {
    border-radius: 8px;
}

/* banner 02  */
.banner_02 {
    display: flex;
    margin-top: 20px;
}
.item_banner_02 {
    width: 25%;
}
.banner_02 a:not(:last-child) {
    margin-right: 10px;
}

.list_menu_home {
    display: flex;
    margin: 15px 0px 0px 0px;
    background-color: #fff;
    text-align: center;
    padding: 15px 4px !important;
}
.item_menu_home {
    width: 10%;
    text-align: center;
}
.item_menu_home img {
    width: 48px;
    height: 48px;
}
.item_menu_home p {
    padding: 10px 15px 0px;
    color: #333333;
    font-size: 16px;
}


/* list cate  */
.list_cate {
    background: #fff;
    margin-top: 20px;
    border-radius: 8px;
}
.title_list_cate {
    display: flex;
    align-items: center;
    padding: 16px;
}
.title_list_cate span {
    background: url(/images/icons/ico_menu_red.webp) no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
    display: block;
    margin-right: 8px;
}
.title_list_cate p {
    font-size: 21px;
    font-weight: bold;
    color: #212121;
    letter-spacing: 0px;
}
.line_cate {
    padding: 0 16px;
    height: 1px;
    background: #F2F4F5;
    width: 90%;
    margin:auto;
}
.list_item_cate {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}
.item_cate {
    width: 10%;
    text-align: center;
}
.item_cate p {
    margin: 15px auto;
    width: 75%;
}


/* shopping trend  */
/* .shopping_trend {
    margin-top: 20px;
    background: #fff;
} */
.title_trend {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    background: #FCDDEF;
}
.title_trend p {
    font-size: 17px;
    color: #1F1D1D;
    font-weight: 550;
    text-transform: uppercase;
    margin-left: 10px;
}
.all_tab_trend {
    display: flex;
    padding: 10px 20px;
    border-bottom: 1px solid #e8e8e8;
}
.active_a {
    border: 1px solid #F7931E !important;
    color: #F7931E;
    font-weight: bold;
}
.active_b {
    border: 1px solid #F7931E !important;
    color: #F7931E;
    font-weight: bold;
}
.item_trend {
    margin-top: 20px;
    background: #fff;
    padding-bottom: 30px;
}
.item_tab {
    border-radius: 5px;
    margin: 10px 5px 5px;
    padding: 8px 15px;
    cursor: pointer;
    transition: 0.3s;
}
.item_tab p {
    font-size: 14px;
}
.item_tab:hover {
    border: 1px solid #F7931E !important;
    color: #F7931E;
    font-weight: bold;
}
 /* content tab  */
 .item_content_tab {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 8px;
 }
 .item_inner {
    position:relative;
    padding: 15px;
 }
 .discount {
    background-color: #F7941E;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 15px;
    top: 27px;
    z-index: 1;
 }
 .discount span {
    color: #fff;
    font-size: 17px;
    font-weight: bold;
 }
 .content_item_inner {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
 }
 .image_product {
    max-width: 190px;
 }
 .name_product {
    padding-top: 0px !important;
    line-height: 1.4em;
    word-break: break-word;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 16px;
    text-align: start;
    color: #333333;
    margin-top: 10px;
 }
 .price {
    text-align: start;
    margin-top: 5px;
 }
 .new_price {
    color: #C92127;
    font-size: 18px;
    font-weight: 600;
 }
 .old_price {
    color: #888888;
    text-decoration: line-through;
    font-size: 14px;
 }
 .rating {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
 }
 .rating img {
    width: 18px;
    height: 18px;
 }
 .rating p {
    color: #F6A500 !important;
    font-size: 16px;
    font-weight: 500;
 }
 .selled {
    background: #F1B1B0;
    color: #fff;
    border-radius: 15px;
    font-size: 13px;
    height: 16px !important;
    align-items: center;
    display: flex;
    justify-content: center;
 }

 /* btn see more  */
 .btn_see_more {
    padding-top: 20px;
    text-align: center;
 }
 .btn_see_more a {
    color: #C92127;
    background-color: #fff;
    border: 2px solid #C92127;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 70px;
    border-radius: 8px;
 }


 /* slide logo  */
 .slide_logo {
    margin-top: 20px;
    padding: 15px 20px;
    background: #fff;
    position:relative;
 }
 .slick-prev-logo, .slick-next-logo {
    background: none !important;
    box-shadow: none !important;
    position:absolute;
    top: 55px;

 }
 .slick-prev-logo {
    transform: rotate(90deg);
    z-index: 2;
    left: -25px;
 }
 .slick-next-logo {
    transform: rotate(-90deg);
    right: -25px;
 }
 .slick-logo img {
    width: 15px !important;
    height: 15px !important;
 }

 /* receive mail  */
 .receive_mail {
    display: flex;
    align-items: center;
    background: #9ea7ac;
    padding: 14px 25px;
    justify-content: center;
    border-radius: 8px 8px 0 0;
    margin-top: 30px;
    border-bottom: 1px solid gray;
 }
 .text_receive {
    display: flex;
    align-items: center;
    margin-right: 30px;
 }
 .text_receive img {
    width: 25px;
    height: 20px;
    margin-right: 12px;
 }
 .text_receive p {
    font-weight: normal;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
 }
.form_receive {
    background: #fff;
    padding: 4px 2px;
    border-radius: 4px;
}
.input_receive {
    background: #fff;
    border: none;
    color: #ddd;
    width: 500px;
    padding-left: 15px;
    font-size: 12px;
}
.btn_receive {
    float: none;
    background-color: #f7941e;
    border-radius: 3px;
    height: 39px;
    transition: 0.5s;
}
.btn_receive:hover {
    background: #cc0100;
}
.btn_receive span {
    text-transform: none;
    border: 1px solid #fff;
    text-align: center;
    padding: 10px 30px;
    background: none;
    font-size: 14px;
    color: #fff;
    border-radius: 8px;
    display: block;
}

@media only screen and (max-width: 1024px) {
    .home_content {
        padding-top: 120px;
    }
    .banner {
        flex-direction: column;
    }
    .item_content_tab {
        display: flex;
        overflow:scroll;
    }
    .slide_banner {
        margin:auto;
        width: 82%;
    }
    .banner_right {
        display: none;
    }
    .banner_02 {
        width: 90%;
        margin: 20px auto;
    }
    .list_menu_home {
        width: 95%;
        padding: 15px 0;
        margin: 15px auto;
    }
    .item_menu_home p {
        padding: 10px 0;
    }
    .list_cate {
        margin: 0 25px;
    }
    .shopping_trend {
        margin: 0 25px;
    }
    .title_trend {
        margin-top: 20px;
    }
    .item_trend {
        margin-top: 0;
        margin-bottom: 15px;
    }
    .slide_logo {
        margin: 20px 25px;
    }
    .text_receive {
        display: none;
    }
    .receive_mail {
        background: none;
        border: none;
    }
    .input_receive {
        width: 200px;
        padding-left: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .slide_banner {
		width: 97%;
	}
    .banner_02 {
        width: 97%;
    }
    .list_menu_home {
        flex-wrap: wrap;
        padding: 10px 0 0 !important;
        width: 100%;
    }
    .item_menu_home {
        width: 20%;
    }
    .item_menu_home p {
        padding: 10px 26px;
    }
    .list_item_cate {
        flex-wrap: wrap;
    }
    .item_cate {
        width: 20%;
    }
    .list_cate {
        margin: 0 15px;
    }
    .shopping_trend {
        margin: 0 15px;
    }
    .slide_logo {
        margin: 20px 0;
    }
}
@media only screen and (max-width: 540px) {
    .all_tab_trend {
        padding: 10px;
    }
    .all_tab_trend {
        padding: 8px 10px;
    }
    .item_tab {
        margin: 0;
    }
    .shopping_trend {
        margin: 0;
    }
    .list_cate {
        margin: 0;
        border-radius: 0;
    }
    .item_cate {
        width: 30%;
    }
}
@media only screen and (max-width: 414px) {
    .banner_02 {
        display: none;
    }
    .item_menu_home p {
        padding: 10px;
        font-size: 12px;
    }
}