.homeContent {
    position: relative;
    padding: 20px;
}

strong {
    font-weight: unset !important;
}

.container_widget {
    margin: 0 -10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 15px;
    margin-top: 20px;
}

.right_home {
    width: calc(100% - 32%);
}

.sapo_blog {
    padding: 0 !important;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    margin-top: 15px;
}

.sapo_blog p,
.sapo_blog span {
    color: #fff !important;
    text-align: justify !important;
    font-size: 14px !important;
    line-height: 21px !important;
    font-weight: 500 !important;
}
.sapo_blod span {
    display:inline;
}

.des_post,
.des_post p,
.des_post span {
    color: #000000 !important;
    font-size: 14px !important;
    line-height: 21px !important;
    margin-top: 0 !important;
    text-align: left !important;
    font-weight: unset !important;
    display: inline;
}

.this_content_right {
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.title_blog {
    text-align: left;
    color: #454545;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    transition: 0.5s;
}

.title_blog:hover {
    color: #cb0030;
}

.only_mobile {
    display: none;
}

.date_post {
    font-size: 12px;
    font-weight: 500;
    color: transparent;
    background: linear-gradient(90deg, #cc0355 0, #ea003a 0, #5447a4 100%);
    -webkit-background-clip: text;
}

.dot_item {
    position: relative;
    display: inline-block;
}

.dot_item::before {
    content: "";
    background-color: #868686;
    height: 3px;
    width: 3px;
    border-radius: 50%;
    position: absolute;
    top: 9px;
    right: 6px;
}

.cate_post {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #cb0030;
    padding-right: 15px;
    transition: 0.5s;
}

.cate_post:hover {
    color: #cb002f49 !important
}

.this_content_right img {
    position: relative;
    width: 38.8%;
    float: left;
}

.box_content_blog {
    width: calc(100% - 270px);
    float: left;
    padding-left: 20px;
}

.des_post {
    font-size: 14px;
    line-height: 17px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    margin-top: 5px;
}

.load_more {
    max-width: 170px;
    position: relative;
    background: linear-gradient(90deg, #cc0355 0, #5447a4 0, #ea003a 100%);
    padding: 1px;
    border-radius: 35px;
    margin: 20px auto;
}

.load_more:hover {
    background: #cc0355;
    background: linear-gradient(90deg, #cc0355 0, #ea003a 0, #5447a4 100%)
}

.btn_see_more {
    background: #fff;
    padding: 6px 15px 7px 10px;
    border-radius: 35px;
    color: #333;
    display: block;
    width: 100%;
    border: none;
    cursor: pointer;
    position: relative;
}

.btn_see_more span {
    color: #533c94;
    font-weight: 500;
    font-size: 14px;
}

.icon_arrow_down {
    position: absolute;
    background-image: url(/images/icons/arrow-down.png);
    width: 9px;
    height: 5px;
    right: 12px;
    top: 16px;
    background-repeat: no-repeat;
}

.linl_all_detail {
    display: flex;
    color: unset;
}

.title_blog_top {
    padding: 50px 15px 0px 15px;
    color: #fff !important;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.sapo_blog p {
    padding: 0 15px;
}

.title_blog_top:hover {
    color: #ffffff8f;
}

.blog_top {
    margin-bottom: 20px;
    border-bottom: 3px dotted #afa9a9;
    padding-bottom: 3px;
}

.border_blog {
    padding-bottom: 30px;
    border-bottom: 3px dotted #afa9a9;
}


.blog_top_left {
    width: 64%;
}

.blog_top_right {
    width: 35%;
    background: linear-gradient(90deg, #cc0355 0, #ea003a 0, #5447a4 100%);
    border-radius: 0 5px 5px 0;
}

.blog_top_right:hover .title_blog_top {
    color: #f5f5f5c9 !important;
}

.link_fl {
    display: flex;
    align-items: flex-start;
}

.fl_date {
    margin: 10px 0 5px 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.box_content_blog {
    width: -webkit-fill-available;
}

@media only screen and (max-width: 1280px) {
    .homeContent {
        padding: 20px 70px;
    }
}

@media only screen and (max-width: 1024px) {

    .homeContent {
        padding: 0 20px;
    }

    .title_blog_top {
        padding: 30px 15px 0px 15px !important;
    }
}

@media only screen and (max-width: 768px) {
    .right_home {
        width: 72%;
        padding: 0;
    }

    .blog_top_left {
        width: 65%;
    }

    .title_blog {
        font-size: 15px;
        line-height: 20px;
    }

    .fl_date {
        margin: 5px 0;
    }

    .blog_top_right {
        width: 35%;
        height: 250px;
    }
}

@media only screen and (max-width: 540px) {
    .container_widget {
        flex-direction: column;
        margin-top: 20px;
    }

    .homeContent {
        padding: 0 10px;
    }

    .right_home {
        margin-top: 0;
        width: 100%;
    }

    .linl_all_detail {
        flex-direction: column;
    }

    .blog_top_left,
    .blog_top_right {
        width: 100%;
    }

    .blog_top_right {
        background: none;
        height: max-content;
        padding-bottom: 10px;
    }

    .title_blog {
        display: none;
    }

    .only_mobile {
        display: block;
        font-size: 21px;
        font-weight: bold;
        line-height: 26px;
        color: #333;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        margin-bottom: 15px;
    }

    .title_blog_top {
        color: #232323 !important;
        font-size: 25px;
        line-height: 32px;
        font-weight: 600;
        font-family: 'Arial', sans-serif;
        padding: 10px 0 0 0 !important;
        margin-bottom: 0;
    }

    .sapo_blog {
        color: #232323 !important;
        font-size: 20px;
        text-align: left;
        padding: 0;
        font-family: Arial;
        line-height: 22px;
        font-weight: 500;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        margin-top: 0;
    }

    .sapo_blog,
    .sapo_blog p,
    .sapo_blog span {
        color: #000 !important;
        padding: 0 !important;
    }

    .link_fl {
        flex-direction: row;
        gap: unset;
        padding: 0;
    }

    .box_content_blog {
        padding-left: 15px;
        display: flex;
        flex-direction: column;
    }

    .des_post {
        text-align: left;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
        font-size: 13px;
        line-height: 18px;
        font-family: 'Arial', sans-serif;
        margin: 0;
    }

    .dot_item::before {
        content: "";
        background-color: #868686;
        height: 3px;
        width: 3px;
        border-radius: 50%;
        position: absolute;
        top: 9px;
        right: 6px;
    }

    .this_content_right img {
        min-height: 113px;
    }

    .blog_top_right:hover .title_blog_top {
        color: #000 !important;
    }
}